body {
    font-family: 'Open Sans', sans-serif;
}


/*

HEADER

*/

.header {
    width: 100%;
    position: sticky;
    height: 90px;
    left: 0px;
    top: 0px;
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
}

h1 {
    color: #0C3E70;
}

.logo img {
    margin-right: 20px;
}

nav {
    margin-left: 67px;
    flex: 1;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.wrapper {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper a,
nav li a {
    text-decoration: none;
}

nav li,
li {
    margin-left: 30px;
}

nav li a {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #0C3E70;
}

.login {
    margin-left: auto;
}

.sign {
    border: 1px solid #42E666;
    border-radius: 10px;
}

.sign a {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}


/* ВЫПАДАЮЩЕЕ МЕНЮ */

.has-children {
    position: relative;
}

.has-children a {
    background-image: url(../img/Vector.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-right: 20px;
}

.has-children ul li a {
    background-image: none;
    border: 1px solid #ccc;
    width: 130px;
    background: #FFFFFF;
}

li ul {
    position: absolute;
    display: none;
    margin-left: 50px;
}

li a {
    display: block;
    padding: 5px; 
    text-decoration: none;
    border-bottom: none;
}

li a:hover {
    color: #5A5A5A;
}

li:hover ul { 
    display: block;
}

.sign:hover a {
    background: linear-gradient(90deg, #1CD995 0%, #42E666 100%);
    border-radius: 10px;
} 


/*

CONTENT

*/

.content {
    background: #FFFFFF;
    width: 100%;
    margin-top: 30px;
}

.img-1 {
    width: 1201px;
    height: 450px;
    background-image: url(../img/img-1.jpg);
    border-radius: 10px;
}

.img-2 {
    width: 1001px;
    height: 450px;
    margin: auto;
    margin-top: 50px;
    background-image: url(../img/img-2.jpg);
    border-radius: 10px;
}

.img-3 {
    width: 970px;
    height: 250px;
    margin: auto;
    margin-top: 60px;
    background-image: url(../img/img-3.jpg);
}

.img-4 {
    width: 1001px;
    height: 450px;
    margin: auto;
    margin-top: 50px;
    margin: auto;
    margin-top: 50px;
    background-image: url(../img/img-4.jpg);
    border-radius: 10px;
}

.img-5 {
    width: 1001px;
    height: 450px;
    margin: auto;
    margin-top: 50px;
    margin: auto;
    margin-top: 50px;
    background-image: url(../img/img-5.jpg);
    border-radius: 10px;
}

.img-6 {
    width: 1001px;
    height: 450px;
    margin: auto;
    margin-top: 50px;
    margin: auto;
    margin-top: 50px;
    background-image: url(../img/img-6.jpg);
    border-radius: 10px;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    padding-top: 50px;
    text-align: center;
    color: #0C3E70;
}

h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #0C3E70;
}

h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    padding-bottom: 15px;
    text-align: center;
    color: #0C3E70;
}

h5 {
    width: 317px;
    height: 178px;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 180%;
    color: #0C3E70;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 48px;
}

.text {
    font-size: 18px;
    line-height: 220%;
    width: 859px;
    margin: auto;
    padding-top: 50px;
    color: #8B8B8B;
}

.text-2 {
    font-size: 18px;
    line-height: 220%;
    width: 859px;
    margin: auto;
    padding-top: 40px;
    color: #8B8B8B;
}

.block-text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #8B8B8B;
    margin-bottom: 50px;
}

.decor-line {
    width: 100%;
    border: 1px solid #E1E1E1;
    margin-top: 60px;
    margin-bottom: 60px;
}

.grid-box {
    background-image: url(../img/Pattern.svg), url(../img/Pattern-2.svg);
    background-repeat: no-repeat;
    background-position: 115px 56px, 1385px 346px;
}

.box {
    display: inline-block;
    width: 377px;
    height: 382px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    margin-right: 30px;
    margin-bottom: 60px;
}

.box p {
    width: 317px;
    font-size: 18px;
    line-height: 180%;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    color: #8B8B8B;
}

.box a {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #0C3E70;
    width: 102px;
    border: 1px solid #42E666;
    border-radius: 10px;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 40px;
    margin-left: 30px;
}

.box a:hover {
    background: linear-gradient(90deg, #1CD995 0%, #42E666 100%);
    border-radius: 10px;
}

.box-grid {
    display: flex;
}

.box-john {
    height: 649px;
    background: #F5F5F5;
    background-image: url(../img/Pattern_Group.svg), url(../img/Pattern_Group-2.svg);
    background-repeat: no-repeat;
    background-position: 120px 123px, 1185px 389px;
}

.box-john h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    padding-top: 60px;
    text-align: center;
    color: #0C3E70;
}

.box-john p {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-top: 15px;
    color: #8B8B8B;
}

.block-text-2 {
    width: 1110px;
    height: 279px;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #F7F7F7;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
}

.vector-1,
.vector-1-2 {
    width: 16px;
    height: 27px;
    margin-top: 30px;
    display: inline-block;
    background-image: url(../img/Vector%20-1.png);
}

.vector-1 {
    margin-left: 33px;
}

.block-text-2 p {
    width: 1043px;
    height: 126px;
    font-size: 18px;
    line-height: 180%;
    color: #8B8B8B;
    text-align: justify;
    margin-left: 33px;
}

p.john {
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    text-align: right;
    color: #0C3E70;
}

.button {
    width: 230px;
    height: 70px;
    background: linear-gradient(90deg, #1CD995 0%, #42E666 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}

.button:hover a {
     color: #0C3E70;
}

.block-text-2 a {
    width: 192px;
    height: 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    border-radius: 10px;
    padding-top: 20px;
    padding-right: 19px;
    padding-bottom: 20px;
    padding-left: 19px;
    color: #FFFFFF;
}


/* 

FOOTER

*/

.content-footer {
    height: 557px;
    background: #5A5A5A;
    background-image: url(../img/Pattern-Down.svg),
    url(../img/Pattern-Down-2.svg);
    background-repeat: no-repeat;
    background-position: 120px 56px, 1365px 56px;
}

.logo-footer h1 {
    height: 18px;
    color: #FFFFFF;
    margin-right: 71px;
    margin-top: 56px;
}

.logo-footer img {
    margin-top: 56px;
}

.logo-footer p {
    width: 317px;
    height: 128px;
    font-size: 18px;
    line-height: 180%;
    color: #FFFFFF;
    margin-right: 28px;
    margin-top: 32px;
}

.nav-footer h3 {
    height: 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-top: 53px;
    margin-left: 90px;
    margin-bottom: 15px;
}

.content-footer .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nav-footer a {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #8B8B8B;
    margin-bottom: 13px;
    margin-left: 90px;
}

.nav-footer {
    margin-bottom: 50px;
}

.decor-line-footer {
    border: 1px solid #8B8B8B;
    width: 100%;
}

.footer p, ul {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    display: inline-block;
}

.police {
    width: 1200px;
    padding-top: 30px;    
}

.police a {
    font-size: 16px;
    line-height: 22px;
    color: #8B8B8B;
    margin-right: 40px;
}

.police p {
    margin-right: 217px;
}

a.language {
    margin: 0;
    padding-left: 30px;
}

ul.language-img {
    margin-right: 0;
}

.language-img li {
    margin-left: 0;
}

.language {
    background-image: url(../img/Vector-2.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-right: 20px;
}

.language-img {
    background-image: url(../img/Frame.svg);
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 207px;
}

.nav-footer a:hover {
    color: #FFFFFF;
}

.police a:hover {
    color: #FFFFFF;
}

.footer {
    background: #5A5A5A;
    height: 80px;
}
 
.language-img ul {
    margin-top: -90px;
    position: absolute; 
    display: none;
    margin-left: 25px;
}
.language-img a {
    display: block; 
    text-decoration: none;
    border-bottom: none;
}

.language-img li:hover ul { 
    display: block;
}

.language-img ul li a {
    border: 1px solid #ccc;
    width: 70px;
    background: #FFFFFF;
}

.language-img ul li a:hover {
   color: #5A5A5A; 
}
